@using TasksManagement.DailyTasks.Dto;
<div class="modal fade text-left" id="TaskCreateModal" tabindex="-1" role="dialog" aria-labelledby="TaskCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">@L("DailyTask.Create")</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                </button>
            </div>
            <form name="taskCreateForm" role="form" class="form-horizontal">
                <div class="modal-body">
                    <fieldset class="form-group floating-label-form-group">
                        <label for="name">@L("Name")</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="@L("Name")" required minlength="2">
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <label for="comment">@L("Comment")</label>
                        <textarea class="form-control" name="comment" id="comment" placeholder="@L("Comment")"></textarea>
                    </fieldset>
                    <br>
                    <fieldset class="form-group floating-label-form-group">
                        <label for="employee">@L("DailyTask.EmployeeName")</label>
                        <div class="form-group">
                            <select class="form-control" name="employeeId" id="employee" asp-items="@(ViewData["Employees"] as SelectList)" required>
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <label>@L("DailyTask.EntryDate")</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="ft-calendar font-medium-2"></span>
                                </span>
                            </div>
                            <input type="date" class="form-control" name="entryDate" id="entryDate" placeholder="@L("PickDate")" required>
                        </div>
                    </fieldset>
                    <fieldset class="form-group floating-label-form-group">
                        <label>@L("DailyTask.DeadLine")</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="ft-calendar font-medium-2"></span>
                                </span>
                            </div>
                            <input type="date" class="form-control" name="deadLine" id="deadLine" placeholder="@L("PickDate")" required>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-light-success" onclick="create()">@L("Create")</button>
                    <button type="reset" class="btn bg-light-secondary" data-dismiss="modal">@L("Cancel")</button>
                </div>
            </form>
        </div>
    </div>
</div>